<div class="d-flex justify-content-center align-items-center">
  <div class="ng-autocomplete">
    <ng-autocomplete [data]="data" [searchKeyword]="keyword" placeholder="{{placeHolder}}"
      (selected)='selectEvent($event)' [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
    </ng-autocomplete>

    <ng-template #itemTemplate let-item>
      <a [innerHTML]="item.name"></a>
    </ng-template>

    <ng-template #notFoundTemplate let-notFound>
      <div [innerHTML]="notFound"></div>
    </ng-template>
  </div>
</div>